body {
    font-family: "Karla", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
    background-color: #e5e7eb;
}

#logo {
    width: 10%;
}
nav {
    display: flex;
    gap: 48px;
}

.nav {
    text-decoration: none;
    color: #2a4e57;
}

nav a:hover {
    color: #E32C68;
}

.module1 {
    display: flex;
    background-color: #e5e7eb;
    padding: 0px 100px;
    gap: 70px;
    align-items: center;
}

.module1-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    color:#2a4e57;
    margin: 0;
    padding: 0;
}
.module1-image {
    max-width: 50%;
    flex: auto;
}

button {
    background-color: #E32C68;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 12px;
    max-width: 150px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color:#E32C68;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 12px;
    max-width: 150px;
}

/* COLORS
blue: #64aec1
dark blue: #2a4e57
pink: #E32C68
light gray: #E5E7EB */