body {
    font-family: "Karla", sans-serif;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
    background-color: #e5e7eb;
}

#logo {
    width: 10%;
}
nav {
    display: flex;
    gap: 48px;
}

.nav {
    text-decoration: none;
    color: #2a4e57;
}

nav a:hover {
    color: #E32C68;
}

.module1 {
    display: flex;
    background-color: #e5e7eb;
    padding: 0px 100px 32px;
    gap: 70px;
    align-items: center;
}

.module1-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    color:#2a4e57;
    margin: 0;
    padding: 0;
}
.module1-image {
    max-width: 50%;
    flex: auto;
}

button {
    background-color: #E32C68;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 12px;
    max-width: 150px;
    min-width: 150px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color:#E32C68;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 12px;
    max-width: 150px;
}

.module2 {
    padding: 20px 0px;
}

.module2, .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module2-content {
    display: flex;
    flex: auto;
    gap: 30px;
    justify-content: center;
}

.info img {
    max-width: 200px;
}

.module3 {
    background-color: #2a4e57;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px 200px;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.speaker {
    align-self: flex-end;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.module4 {
    background-color: #64aec1;
    color: white;
    margin: 50px 100px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

h4, p {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

/* COLORS
blue: #64aec1
dark blue: #2a4e57
pink: #E32C68
light gray: #E5E7EB */